<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DashBoard CEGEFOS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/inscription.css" />
    
</head>

<body>
    <div class="container-fluid justify-content-center text-center">
        <div class="p-2 col-sm-4 p-2 col-sm-4 mx-auto">
            <form id="#inscrForm" method="POST">
                <!-- Nom -->
                <div appearance="fill" class="row">
                    <!-- (ngSubmit)="submitBook()"> -->
                    <label>Nom</label>
                    <input name="nom" id="nom" class="champSaisie" type="text" placeholder="Ex: Dinasi"><span id="spanNom"></span>
                </div>

                <!-- Prénom -->
                <div appearance="fill" class="row">
                    <!-- (ngSubmit)="submitBook()"> -->
                    <label>Prénom</label>
                    <input name="prenom" id="prenom" class="champSaisie" type="text" placeholder="Ex: Erwin"><span id="spanPrenom"></span>
                </div>

                <!-- date de naissance -->
                <div appearance="fill" class="row">  
                    <label class="p-2 ms-2">Choose a date</label>
                    <input name="date" id="date" class="champSaisie" type="date" value="2017-06-01"><span id="spanDate"></span>
                </div>  

                <!-- Email -->
                <div appearance="fill" class="row">
                    <label>Email</label>
                    <input name="email" id="email" class="champSaisie" type="text" placeholder="Ex: erwin.dinasi@mail.com"><span id="spanEmail"></span>
                </div>

                <!-- Password -->
                <div appearance="fill" class="row">
                    <label>Mot de passe</label>
                    <input name="password" id="password" class="champSaisie" type="password" placeholder="Password"><span id="spanPassword"></span>
                </div>

                <!-- Confirmation Password -->
                <div appearance="fill" class="row">
                    <label>Confirmation Mot de passe</label>
                    <input name="confirmPassword" id="confirmPassword" class="champSaisie" type="password" placeholder="Password">
                </div>

                <!-- Numéro de téléphone -->
                <div appearance="fill"  class="row">
                    <label>Numéro de téléphone</label>
                    <input name="phone" id="phone" class="champSaisie" type="number" placeholder="Ex: 0655667788"><span id="spanPhone"></span>
                </div>

                <!-- adresse -->
                <div appearance="fill" class="row">
                    <label>adresse</label>
                    <input name="adresse" id="adresse" class="champSaisie" type="text" placeholder="Ex: 12 rue de la ville">
                </div>
                
                <!-- Ville -->
                <div appearance="fill" class="row">
                    <label>Ville</label>
                    <input name="ville" id="ville" class="champSaisie" type="text" placeholder="Ex: Toulouse">
                </div>

                <!-- Code Postal -->
                <div appearance="fill" class="row">
                    <label>Code Postal</label>
                    <input name="codePostal" id="codePostal" class="champSaisie" type="number" placeholder="Ex: 31000">
                </div>      

                <div class="row p-2">
                    <button type="submit">Inscription</button>
                </div>
            </form>

        </div>

    </div>

</body>
<footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light footer" routerLinkActive="active">
        <div class="container-fluid">
            <div class="col-lg-1"><a href="/" >Accueil</a></div>
            <% if ( session.active === true ) { %>
                <div class="col-lg-1"><a href="/calculImc">Calcul IMC</a></div>
                <div class="col-lg-1"><a href="/convDevise">Convertisseur Devise</a></div>
                <div class="col-lg-1"><a href="/listPosts">Posts</a></div>
                <div class="col-lg-1"><a href="/newPost">Nouveau post</a></div>
                <div class="col-lg-1">
                    <form method="POST" action="/deconnexion">
                        <button type="submit" class ="mb-2" style="border: solid grey; background-color:red" name="deconnexion">Déconnexion</button>
                    </form>
                </div>
            <% } else { %>
                <div class="col-lg-1"><a href="/inscription">Inscription</a></div>
                <div class="col-lg-1"><a href="/connexion">Connexion</a></div>
            <% } %>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</footer>
</html>   